<h1> Masuk </h1>

<%= form_for :session, url: login_path do |s| %>

	Username: <br>
	<%= s.text_field :username %><br>
	Password: <br>
	<%= s.password_field :password %><br>
	<%= s.submit %>
<% end %>

