%h2 == ONLY ADMIN CAN SEE THIS ==
%h3 Bagian A
- @short_problems.each do |prob|
  %h5.problem_no No. #{prob.problem_no}
  .text-justify.latex= markdown_render prob.statement
%h3 Bagian B
- @long_problems.each do |prob|
  %h5.problem_no No. #{prob.problem_no}
  .text-justify.latex= markdown_render prob.statement
