%aside.col-sm-4
  %header
    %h3 Ringkasan Jawaban Anda
  .row
    %article.col-xs-6.col-sm-12
      %header
        %h4 Bagian A

      - @short_problems.each do |prob|
        - submission = @short_submissions.find { |ss| ss.short_problem == prob }
        - if submission.nil?
          = aside_display_unanswered(prob.problem_no)
        - else
          = aside_display_answered(prob.problem_no, submission.answer)

    %article.col-xs-6.col-sm-12
      %header
        %h4 Bagian B

      - @long_problems.each do |prob|
        - submission = @long_submissions.find { |ls| ls.long_problem == prob }
        - if SubmissionPage.where(long_submission: submission).empty?
          = aside_display_unanswered(prob.problem_no)
        - else
          = aside_display_answered(prob.problem_no, 'sudah terjawab')
