<aside class="col-sm-4" id="ringkasan">
  <header>
    <h3>Ringkasan Jawaban Anda</h3>
  </header>
  <div class="row">
    <article class="col-xs-6 col-sm-12">
      <header>
        <h4>Bagian A</h4>
      </header>
      <% @short_problems.each do |prob| %>
        <% submission = ShortSubmission.find_by(short_problem_id: prob.id, user_id: current_user.id) %>
        <%= submission.nil? ? aside_display_unanswered(prob.problem_no) : aside_display_answered(prob.problem_no, submission.answer) %>
      <% end %>
    </article>
    <article class="col-xs-6 col-sm-12">
      <header>
        <h4>Bagian B</h4>
      </header>
      <% @long_problems.each do |prob| %>
        <% submission = LongSubmission.find_by(long_problem: prob, user: current_user) %>
        <%= SubmissionPage.where(long_submission: submission).empty? ? aside_display_unanswered(prob.problem_no) : aside_display_answered(prob.problem_no, "sudah terjawab") %>
      <% end %>
    </article>
  </div>
</aside>
