%h2 Download
= link_to 'Download feedback',
  contest_feedback_answers_path(@contest, format: :csv),
  class: 'btn btn-lg' if can? :download_on_contest, FeedbackAnswer
= link_to 'Download soal', problem_pdf_contest_path,
  class: 'btn btn-lg' if can? :download_problem_pdf, @contest
= link_to 'Download Marking Scheme',
  ms_pdf_contest_path(@contest),
  class: 'btn btn-lg' if can? :download_marking_scheme, @contest
= link_to 'Download laporan',
  reports_contest_path(@contest),
  class: 'btn btn-lg' if can? :download_reports, @contest
