<article id="feedback">
  <p>Sekarang, giliran Anda memberikan kritik maupun saran Anda ke kami!
    Survei ini sangatlah penting bagi kami agar kami bisa lebih mengetahui
    pencapaian kami dan bisa menyajikan konten yang lebih berguna bagi Anda.
    Perhatikan bahwa Anda perlu mengisi survei ini untuk mendapatkan
    sertifikat.</p>
  <a href="#" class="btn btn-lg btn-default has-shade">
    Isi Feedback</a>
</article>
