%article#feedback
  %p
    Sekarang, giliran Anda memberikan kritik maupun saran Anda ke kami!
    Survei ini sangatlah penting bagi kami agar kami bisa lebih mengetahui
    pencapaian kami dan bisa menyajikan konten yang lebih berguna bagi Anda.
    Perhatikan bahwa Anda perlu mengisi survei ini dan juga mendapatkan minimal
    nilai #{UserContest::CUTOFF_CERTIFICATE} untuk mendapatkan sertifikat
    partisipasi ataupun sertifikat pemenang.
  %p
    %b Sertifikat dikirim pada #{contest.feedback_time.to_indo}.
  = link_to 'Isi Feedback',
    new_contest_feedback_answers_path(contest_id: params[:id]),
    class: 'btn'
