%header#contest-info
  %h1#contest-name
  %h3#subtitle
  %h3.update-regularly#time-remaining
  - if @contest.currently_in_contest?
    = link_to 'Download soal', @contest.problem_pdf.url(:original, false),
      class: 'btn btn-default btn-lg has-shade'
    = link_to 'Lihat ulang aturan', contest_rules_path(@contest),
      class: 'btn btn-default btn-lg has-shade'

  - if can? :admin, Contest
    = link_to 'Administrasi', contest_admin_path(contest_id: @contest),
      class: 'btn btn-default btn-lg has-shade'
