%article#bagian-b
  %header
    %h2 Bagian B: Uraian
    %h4.text-justify
      Unggah solusi Anda pada formulir di bawah ini. Ukuran file keseluruhan
      per soal paling besar 10 MB. Tuliskan jawaban beserta langkah pekerjaan
      Anda secara lengkap. Jawaban boleh diketik, difoto, ataupun di-scan.
      Setiap soal bernilai maksimal 7 angka. Tidak ada pengurangan nilai untuk
      jawaban yang salah.

  - long_problems.each do |prob|
    %h5.problem_no No. #{prob.problem_no}
    = latex_and_markdown :div, prob.statement
    - ls = long_submission_find_or_initialize_by(prob)

    - if ls.new_record?
      = render 'long_submissions/upload', ls: ls, lp: prob,
        uc: user_contest

    - else
      %p.text-warning.text-justify
        Anda sudah mengunggah jawaban. Jika Anda ingin mengubah jawaban Anda,
        klik 'buang' di bawah dan lakukan pengunggahan ulang.
        = render 'long_submissions/manage', ls: ls
