.nag-overlay
  .nag-container
    %h1 Tunggu sebentar...
    %p
      Kontes Terbuka Olimpiade Matematika adalah sebuah inisiatif dari alumni
      Tim Olimpiade Matematika Indonesia berupa kontes yang diadakan secara
      cuma-cuma. Tidak ada satu pun anggota di tim kami yang mendapatkan
      keuntungan material dari kegiatan ini.
    %p
      Kami akan sangat menghargai bila Anda ataupun orang-orang di sekitar
      Anda berkenan untuk memberikan donasi agar kegiatan olimpiade matematika
      di Indonesia, seperti KTO Matematika ini, bisa terus berjalan dengan
      lancar dan bahkan berkembang menjadi berbagai kegiatan yang dapat terus
      memajukan dunia olimpiade matematika di Indonesia.
    %p
      Untuk mengetahui lebih lanjut mengenai cara-cara berdonasi,
      #{link_to 'silakan membuka tautan ini.', donate_path}

    %a.btn#close-nag{ data: { href: stop_nag_user_contest_path(@user_contest) } } Tutup
