%article#all-result
  %h2 Hasil Kontes
  - if can? :download_results, @contest
    = link_to 'Download Hasil Lengkap',
      results_contest_path(@contest),
      class: 'btn btn-lg'

  %ul.nav.nav-tabs.contest-result-tabs
    %li.active{ role: 'presentation' }
      %a{ href: '#', data: { tab: 'same_province' } } Provinsiku (#{current_user.province})
    %li{ role: 'presentation' }
      %a{ href: '#', data: { tab: 'medallists' } } Semua medalis

  .result-tables
    = render 'same_province_results'
    = render 'all_results'
