<div class="container">
  <h1>Pembagian Koreksi <%= @contest.name %></h1>
  <% @long_problems.each do |lp| %>
    <h2>No. <%= lp.problem_no %></h2>
    <input>
    <input>
    <input>
    <button>Submit</button>
  <% end %>
</div>
