<%= content_tag 'div', '', id: 'contests-data', data: contests_info_hash %>
<div class="container" id="all-contests-container">
  <header>
    <h1>Kontes-kontes</h1>
    <h4>Catatan: tanggal kontes-kontes berikutnya masih bisa berubah kapanpun.
    </h4>
  </header>

  <section id="contests-container">
    <article class="three-container">
      <div>
        <a href="#" id="prev-time"></a>
      </div>
      <div>
        <span id="this-time"></span>
      </div>
      <div>
        <a href="#" id="next-time"></a>
      </div>
    </article>

    <article id="calendar"></article>
  </section>
</div>
