<div class="container-fluid" id="all-contests-container">
  <header>
    <h1>Kontes-kontes</h1>
    <h4>Catatan: tanggal kontes-kontes berikutnya masih bisa berubah kapanpun.
    </h4>
  </header>

  <section id="contests-container">
    <article class="row" id="calendar-nav">
      <div class="col-xs-4"> 
        <a href="#" id="prev-year">Tahun sebelumnya</a>
      </div>
      <div class="col-xs-4">
        <span id="this-year"></span>
      </div>
      <div class="col-xs-4">
        <a href="#" id="next-year">Tahun selanjutnya</a>
      </div>
    </article>

    <article id="calendar"></article>
  </section>
</div>
