<% contest_paths = Hash.new %>
<% Contest.all.each do |c| %>
  <% contest_paths[c.id] = contest_path(c) %>
<% end %>
<%= content_tag 'div', '', id: 'contest-data', data: {
  contests: @contests,
  contest_paths: contest_paths
} %>
<% content_for (:page_attributes) do %>contests_page<% end %>
<div class="container" id="all-contests-container">
  <header>
    <h1>Kontes-kontes</h1>
    <h4>Catatan: tanggal kontes-kontes berikutnya masih bisa berubah kapanpun.
    </h4>
  </header>

  <section id="contests-container">
    <article id="calendar-nav">
      <div>
        <a href="#" id="prev-time"></a>
      </div>
      <div>
        <span id="this-time"></span>
      </div>
      <div>
        <a href="#" id="next-time"></a>
      </div>
    </article>

    <article id="calendar"></article>
  </section>
</div>
