<div class="container-fluid">
  <h1>Petunjuk Kontes</h1>

  <% text = ERB.new(@contest.rule).result(binding) %>
  <% renderer = Redcarpet::Render::HTML.new() %>
  <% markdown = Redcarpet::Markdown.new(renderer) %>
  <%= markdown.render(text).html_safe %>

  <div class="btn-center-container">
    <%= link_to "Saya sudah membaca dan menyetujui",
      contest_path, class: "btn btn-default has-shade", id: 'rules-agree-btn' %>
</div>
</div>
