# there will be a verification here so that students can only access this page on contest time

<h1> KONTES </h1>
<table style="width:100%">
	<tr>
		<td>Name:</td>
		<td><%= @contest.name %></td>
	</tr>
	<tr>
		<td>Waktu mulai:</td>
		<td><%= @contest.start_time %></td>
	</tr>
	<tr>
		<td>Waktu selesai:</td>
		<td><%= @contest.end_time %></td>
	</tr>
</table>