<div id="pass-help" class="help-block pre-help">Password Anda harus
  berisi setidaknya 6 karakter.<br>
  Contoh mudah membuat password yang kuat:
  <ul>
    <li>Pikirkan dua makanan kesukaan Anda, contohnya nasi goreng dan
      rendang</li>
    <li>Pikirkan dua warna kesukaan Anda, contohnya putih mawar dan
      hijau tua</li>
    <li>Pikirkan angka kesukaan Anda, contohnya 477</li>
    <li>Gabungkan: NasiGorengPutihMawar&amp;RendangHijauTua477</li>
  </ul>
  Password ini lebih aman dan lebih mudah diingat daripada password
  yang menggunakan banyak angka dan simbol namun lebih pendek!
</div>
