#transactions
  %h2 Riwayat Transaksi Poin
  .table-responsive
    %table.table.table-hover.has-shade.table-bordered#point-history
      %thead
        = create_data_row(%w(Waktu Poin Keterangan), 'th')
      %tbody
        - @point_transactions.each do |pt|
          = create_data_row([pt[:updated_at], pt[:point], pt[:description]],
                            'td')
