#transactions
  %h2 Riwayat Transaksi Poin
  .table-responsive
    %table.table.table-hover.has-shade.table-bordered#point-history
      %thead
        %tr
          %th Waktu
          %th Poin
          %th Keterangan
      %tbody
        - @point_transactions.each do |pt|
          %tr
            %td pt.updated_at
            %td pt.point
            %td pt.description
