<div id="history">
  <h2>Riwayat Kontes</h2>
  <div class="table-responsive">
    <table class="table table-hover has-shade table-bordered" id="contest-history">
      <thead>
        <%= can?(:manage, @user) ? full_header_contents : public_header_contents %>
      </thead>
      <tbody>
        <%= can?(:manage, @user) ? full_data_contents : public_data_contents %>
      </tbody>
    </table>
  </div>
  <nav>
    <a href="#" class="prev-history">&lt;&lt;</a>
    <span class="this-history">1</span>
    <a href="#" class="next-history">&gt;&gt;</a>
  </nav>
</div>
