#history
  %h2 Riwayat Kontes
  = paginate @user_contests, 'page_history'
  .table-responsive
    %table.table.table-hover.has-shade.table-bordered#contest-history
      %thead
        = can?(:show_full, @user) ? full_header_contents : public_header_contents
      %tbody
        = can?(:show_full, @user) ? full_data_contents : public_data_contents
