%header
  .sign-logo
    = link_to image_tag('logo.png', alt: 'Logo KTOM', height: '70px'), root_path
  .sign-text
    %h1= title
    %div
      = subtitle
      %a.move-form(href=anchor)= link
  .clearfix
