.container
  %h1 Ganti Notifikasi
  - Notification.all.each do |n|
    %p
      = check_box_tag "checkbox_#{n.id}", nil, !UserNotification.find_by(notification: n).nil?
      %label{ for: "checkbox_#{n.id}" }= n
