.container-fluid#forgot-password-container
  .row
    .col-xs-10.col-sm-8.col-md-6#forgot-password
      %header
        .login-logo
          = link_to image_tag('logo.png', alt: 'Logo KTOM', height: '70px'), root_path
        .login-text
          %h1 Masuk
