.container
  %h1{ class: row_classes(@user) }= @user
  .row
    .col-sm-5#profile
      = render 'show_user_info'
    .col-sm-7
      = render 'show_history'
      = render 'show_transactions' if can? :see_full, @user
