<div class="container">
  <h1><%= @user.username %></h1>
  <div class="row">
    <div class="col-sm-4" id="profile">
      <%= render 'show_user_info' %>
    </div>
    <div class="col-sm-8">
      <%= render 'show_history' %>

      <% if can? :manage, @user %>
        <%= render 'show_transactions' %>
      <% end %>
    </div>
  </div>
</div>
