<div class="container">
  Ganti feedback
  <%= form_for [@contest, @feedback_question] do |f| %>
    <p>
    <%= f.label :question %><br>
    <%= f.text_field :question %>
    </p>
    <p>
    <%= f.submit %>
    </p>
  <% end %>
</div>
