- if current_user.nil?
  - content_for :page_attributes do
    nav-logo-only

= content_tag 'div', '', id: 'about-us-pics', data: @photo_dictionary

.container
  %h1 Tentang Kami
  %p
    Kontes Terbuka Olimpiade Matematika adalah sebuah inisiatif yang
    dilaksanakan Tim Olimpiade Matematika Indonesia, perkumpulan
    pemenang olimpiade matematika nasional (OSN) dan internasional
    (IMO). Kontes bulanan ini diadakan secara online dan gratis bagi
    semua orang. Selain itu, kontes ini berisi soal-soal berkualitas
    yang sangat cocok untuk persiapan OSN tingkat kabupaten, provinsi,
    maupun nasional.

  %h2 Tim Kami
  .row
    - process_team_and_alumni(@team).each do |tag|
      = tag

  %h2 Alumni Tim Kami
  .row
    - process_team_and_alumni(@alumni).each do |tag|
      = tag
