<div class="container">
  <h1>Halaman Admin</h1>
  <ul>
    <% if can? :create, Contest %>
      <li><%= link_to "Kontes Baru", new_contest_path %></li>
    <% end %>
    <% if can? :index, User %>
      <li><%= link_to 'User Index', users_path %></li>
    <% end %>
  </ul>
  <h2>Koreksian</h2>
  <ul>
  <% LongProblem.all.each do |lp| %>
    <% if can? :mark_solo, lp and can? :mark_final, lp %>
      <li><%= link_to lp, mark_solo_path(lp.id) %></li>
    <% end %>
  <% end %>
</div>
