<div class="container">
  <h1>Halaman Admin</h1>
  <% if current_user.has_role? :admin %>
    <ul>
      <li><%= link_to "Kontes Baru", new_contest_path %></li>
      <li><%= link_to 'User Index', users_path %></li>
    </ul>
  <% end %>
  <h2>Koreksian</h2>
  <% current_user.roles.each do |role| %>
    <% if role.resource_type == 'LongProblem' %>
      <%= link_to role.resource, mark_solo_path(role.resource.id) %>
    <% end %>
  <% end %>
</div>
