.container.text-justify
  %h1 Buku Kontes Terbuka Olimpiade Matematika
  %p
    Mau belajar olimpiade matematika tapi ga tau mau mulai dari mana?
    Ayok punyai buku Kontes Terbuka Olimpiade Matematika!
  %p
    Buku KTO Matematika ini berisi kumpulan soal dan solusi KTO
    Matematika bulan-bulan sebelumnya. Beberapa fitur yang menarik:
  %ul
    %li Berisi berbagai tips dan trik memecahkan masalah olimpiade matematika
    %li
      Berisi berbagai komentar-komentar mengenai soal dan solusi,
      termasuk referensi lanjutan untuk mempelajari konsep-konsep
      secara lebih dalam
    %li
      Dibuat oleh Tim Olimpiade Matematika Indonesia yang berisi para
      pemenang olimpiade matematika nasional (OSN) maupun
      internasional (IMO) yang sangat berengalaman. Sebagian besar
      dari para penulis pernah mendapatkan medali emas OSN maupun
      membawa nama baik Indonesia dengan memenangkan medali di IMO.

  %p Jadi, tunggu apa lagi? Ayok beli buku kami!

  .row#buku-buku
    %a.col-sm-4.book-col{ href: 'http://bit.ly/ktom-buku-1', target: '_blank' }
      .book-container
        = image_tag 'buku/buku1.png', alt: 'Buku KTOM 1',
          class: 'img-responsive center-block img-buku-ktom'
        Buku KTO Matematika 1<br>
        Soal dan Solusi Juni - Desember 2015
    %a.col-sm-4.book-col{ href: 'http://bit.ly/ktom-buku-2', target: '_blank' }
      .book-container
        = image_tag 'buku/buku2.png', alt: 'Buku KTOM 2',
          class: 'img-responsive center-block img-buku-ktom'
        Buku KTO Matematika 2<br>
        Soal dan Solusi Januari - Juni 2016<br>
        Beserta Soal dan Solusi OSK, OSP, OSN SMA 2016
    %a.col-sm-4.book-col{ href: 'http://bit.ly/ktom-buku-3', target: '_blank' }
      .book-container
        = image_tag 'buku/buku3.jpg', alt: 'Buku KTOM 3',
          class: 'img-responsive center-block img-buku-ktom'
        Buku KTO Matematika 3<br>
        Soal dan Solusi Juli - Desember 2016

  %p
    Anda juga bisa menghubungi Satria Stanza Pramayoga dengan SMS atau Whatsapp
    ke +6281335482377.
