- if current_user.nil?
  - content_for :page_attributes do
    nav-logo-only

.container
  %h1 Kontak Kami
  %p Kami bisa dihubungi melalui:
  %ul
    %li
      %a{ href: 'https://instagram.com/ktom.official' }
        Instagram KTO Matematika
      (paling cepat respon)
    %li
      %a{ href: 'https://www.facebook.com/KTOMatematika' }
        Facebook KTO Matematika
    %li
      %a{ href: 'https://discord.gg/dE9nUCVsSD' } Discord KTO Matematika
    %li
      <a href="https://mailhide.io/e/0FBPkXpu" onclick="window.open('https://mailhide.io/e/0FBPkXpu', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=640'); return false;" title="Reveal this e-mail address">Klik ini untuk mengetahui email kami</a>
