<% if @current_user.nil? %>
  <% content_for :page_attributes do %>nav-logo-only<% end %>
<% end %>
<div class="container-fluid">
  <h1>Kontak Kami</h1>
  <p>Kami bisa dihubungi melalui:</p>
  <ul>
    <li><a href="https://www.facebook.com/KTOMatematika">
      Facebook KTO Matematika</a></li>
    <li><a href="mailto:kto.official@gmail.com">
      Email KTO Matematika: kto.official@gmail.com</a></li>
  </ul>
</div>
