- if current_user.nil?
  - content_for :page_attributes do
    nav-logo-only

.container
  %h1 Kontak Kami
  %p Kami bisa dihubungi melalui:
  %ul
    %li
      %a{ href: 'https://www.facebook.com/KTOMatematika' }
        Facebook KTO Matematika
      (paling cepat respon)
    %li
      <a href="http://www.google.com/recaptcha/mailhide/d?k=01acEJFo0imw9i1-lVOMVp1g==&amp;c=Xm8wgA_SbnJGzL2ITeV3-1dCQCyh7Tz5iBjYFTSsPug=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01acEJFo0imw9i1-lVOMVp1g\x3d\x3d\x26c\x3dXm8wgA_SbnJGzL2ITeV3-1dCQCyh7Tz5iBjYFTSsPug\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">Klik ini untuk mengetahui email kami</a>
    %li
      %a{ href: 'https://line.me/ti/p/%40ktom' } Line KTO Matematika
      (jarang open chat)
