<% if @current_user.nil? %>
  <% content_for :page_attributes do %>nav-logo-only<% end %>
<% end %>
<div class="container-fluid">
  <h1>Donasi</h1>
  <p>Tim Kontes Terbuka Olimpiade Matematika terdiri dari beberapa alumni Olimpiade Sains Nasional (OSN), Pelatihan Nasional bidang Matematika, dan International Mathematical Olympiad (IMO) yang bekerja secara cuma-cuma untuk mengadakan kegiatan terkait olimpiade matematika. Kami akan sangat berterima kasih jika Anda bersedia untuk menjadi donatur KTO Matematika agar kegiatan yang berkaitan dengan olimpiade matematika bisa secara kontinu diadakan. Donasi dapat dikirim via:</p>
  <ul>
    <li>Rekening BRI: 6273 01 019244 53 3 atas nama Moh. Yasya' Bahrul Ulum</li>
    <li>Paypal</li>
  </ul>
</div>
