<!-- Facebook plugin -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.6";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Rest of document -->
<%= content_for (:body_attributes) do %>
  data-no-turbolink="true"
<% end %>

<div class="container-fluid" id="home-container">

  <header class="hidden-xs" id="greeting">
    <h1>Halo, <%= @current_user.username %></h1>
  </header>

  <section class="home-section home-article text-center" id="this-contest">
    <h2>Kontes Bulanan: Juli 2017</h2>
    <h3>17 Juli 2017 13:00 WIB - 19 Juli 2017 17:00 WIB</h3>
    <button type="button"
            class="btn btn-lg btn-default has-shade disabled" id="btn-daftar">
      99 hari 23 jam 59 menit 59 detik lagi
    </button>
  </section>

  <section class="row home-section" id="home-section-container">
    <div class="col-sm-6 col-md-4"> 
      <article class="home-article" id="prev-contests">
        <h3>Kontes-kontes Sebelumnya</h3>
        <a href="http://olimpiade.org/discussions/main-topic/13/">Soal-soal
          kontes sebelumnya bisa didapat dari link ini.</a>
        <h4><a href="#">Kontes Bulanan: Juni 2017</a></h4>
        <h4><a href="#">Simulasi OSN: Mei 2017</a></h4>
        <h4><a href="#">Kontes Bulanan: April 2017</a></h4>
        <h4><a href="#">Simulasi OSP: Maret 2017</a></h4>
        <h4><a href="#">Kontes Bulanan: Februari 2017</a></h4>
        <h4><a href="#">Simulasi OSK: Januari 2017</a></h4>
        <h5><a href="#">Kontes-kontes sebelumnya</a></h5>
      </article>
    </div>

    <div class="col-sm-6 col-md-4">
      <article class="home-article" id="promo-buku">
        <h3>Buku KTO Matematika 1</h3>
        <a href="http://bit.ly/ktom-buku-1">
          <%= image_tag("buku.png", :alt => "Buku KTOM 1",
                        :class => "img-responsive center-block",
                        :id => "img-buku-ktom") %>
                      Klik di sini untuk order!
        </a>
      </article>
    </div>

    <div class="col-md-4 hidden-sm hidden-xs">
      <article class="home-article" id="fb-box">
        <div class="fb-page"
             data-height="350px"
             data-href="https://www.facebook.com/KTOMatematika/"
             data-tabs="timeline"
             data-adapt-container-width="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/KTOMatematika/">
              <a href="https://www.facebook.com/KTOMatematika/">
                Kontes Terbuka Olimpiade Matematika
              </a>
            </blockquote>
          </div>
        </div>
      </article>    
    </div>
  </section>

  <section class="home-section home-article" id="leaderboard">
    <h3>Leaderboard Tahun Ini</h3>
    <div class="table-responsive">
      <table class="table table-hover has-shade table-bordered"
        id="leaderboard-table">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Emas</th>
            <th>Perak</th>
            <th>Perunggu</th>
            <th>Poin</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>abcdabcdabcdabcdabcd</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
          </tr>
          <tr>
            <td>2</td>
            <td>abcdabcdabcdabcdabcd</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
          </tr>
          <tr>
            <td>3</td>
            <td>abcdabcdabcdabcdabcd</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
          </tr>
          <tr>
            <td>4</td>
            <td>abcdabcdabcdabcdabcd</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
          </tr>
          <tr>
            <td>5</td>
            <td>abcdabcdabcdabcdabcd</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
          </tr>
          <tr>
            <td>6</td>
            <td>abcdabcdabcdabcdabcd</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
          </tr>
          <tr>
            <td>7</td>
            <td>abcdabcdabcdabcdabcd</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
          </tr>
          <tr>
            <td>8</td>
            <td>abcdabcdabcdabcdabcd</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
          </tr>
          <tr>
            <td>9</td>
            <td>abcdabcdabcdabcdabcd</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
          </tr>
          <tr>
            <td>10</td>
            <td>abcdabcdabcdabcdabcd</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
