<!-- Facebook plugin -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Rest of document -->
<%= content_for (:body_attributes) do %>
  data-no-turbolink="true"
<% end %>
<div class="container-fluid">
  <div class="row">
    <section class="col-sm-7 col-sm-offset-1"> 
      <article class="home-article text-center" id="this-contest">
        <h2>Kontes Bulanan: Juli 2017</h2>
        <h3>17 Juli 2017 13:00 WIB - 19 Juli 2017 17:00 WIB</h3>
        <button type="button"
                class="btn btn-default disabled" id="btn-daftar">
          99 hari 23 jam 59 menit 59 detik lagi
        </button>
      </article>
      <article class="home-article" id="leaderboard">
        <h3>Leaderboard Tahun Ini</h3>
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Emas</th>
                <th>Perak</th>
                <th>Perunggu</th>
                <th>Poin</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>abcdabcdabcdabcdabcd</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
              </tr>
              <tr>
                <td>2</td>
                <td>abcdabcdabcdabcdabcd</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
              </tr>
              <tr>
                <td>3</td>
                <td>abcdabcdabcdabcdabcd</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
              </tr>
              <tr>
                <td>4</td>
                <td>abcdabcdabcdabcdabcd</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
              </tr>
              <tr>
                <td>5</td>
                <td>abcdabcdabcdabcdabcd</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
              </tr>
              <tr>
                <td>6</td>
                <td>abcdabcdabcdabcdabcd</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
              </tr>
              <tr>
                <td>7</td>
                <td>abcdabcdabcdabcdabcd</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
              </tr>
              <tr>
                <td>8</td>
                <td>abcdabcdabcdabcdabcd</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
              </tr>
              <tr>
                <td>9</td>
                <td>abcdabcdabcdabcdabcd</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
              </tr>
              <tr>
                <td>10</td>
                <td>abcdabcdabcdabcdabcd</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </article>
      <article class="home-article" id="prev-contests">
        <h3>Kontes-kontes Sebelumnya</h3>
        <a href="http://olimpiade.org/discussions/main-topic/13/">Soal-soal
          kontes sebelumnya bisa didapat dari link ini.</a>
        <h4><a href="#">Kontes Bulanan: Juni 2017</a></h4>
        <h4><a href="#">Simulasi OSN: Mei 2017</a></h4>
        <h4><a href="#">Kontes Bulanan: April 2017</a></h4>
        <h4><a href="#">Simulasi OSP: Maret 2017</a></h4>
        <h4><a href="#">Kontes Bulanan: Februari 2017</a></h4>
        <h4><a href="#">Simulasi OSK: Januari 2017</a></h4>
        <h5><a href="#">Kontes-kontes sebelumnya</a></h5>
      </article>
    </section>
    <aside class="col-sm-3">
      <article class="fb-page"
               data-href="https://www.facebook.com/KTOMatematika/"
               data-tabs="timeline"
               data-adapt-container-width="true">
        <div class="fb-xfbml-parse-ignore">
          <blockquote cite="https://www.facebook.com/KTOMatematika/">
            <a href="https://www.facebook.com/KTOMatematika/">
              Kontes Terbuka Olimpiade Matematika
            </a>
          </blockquote>
        </div>
      </article>    
      <article class="home-article" id="promo-buku">
        <h3>Buku KTO Matematika 1</h3>
        <%= image_tag("buku.png", :alt => "Buku KTOM 1",
                      :class => "img-responsive", :id => "img-buku-ktom") %>
                    <a href="http://bit.ly/ktom-buku-1">
                      Klik di sini untuk order!
                    </a>
      </article>
    </aside>
  </div>
</div>
