- if current_user.nil?
  - content_for :page_attributes do
    nav-logo-only

.container
  %h1 Kebijakan Privasi
  %p Pembukaan Kebijakan Privasi, Komitmen Kami pada Privasi.
  %ol
    %li Informasi yang Kami Kumpulkan
    %p Kontes Terbuka Olimpiade Matematika dapat mengumpulkan dan menggunakan data pribadi yang Anda berikan saat menggunakan situs dan layanan kami. Data pribadi tersebut termasuk, namun tidak terbatas pada nama Anda, kredensial untuk masuk ke situs, alamat email, nama sekolah atau institusi Anda, provinsi Anda, dan status Anda (tingkatan di sekolah atau institusi). Kami juga mengumpulkan informasi non-pribadi yang teridentifikasi (yang tidak dapat digunakan untuk mengidentifikasi Anda), termasuk, namun tidak terbatas pada alamat protokol internet Anda, data lokasi geografis, jenis sistem pengoperasian, kebangsaan, preferensi pencarian, dan data umum lainnya terkait penggunaan Internet.

    %li Penggunaan Informasi Anda
    %p Kami dapat mengumpulkan, menggunakan dan mengolah data pribadi Anda yang dikumpulkan dari situs dan layanan kami, untuk tujuan berikut:
    %ol
      %li Mengelola penggunaan situs oleh setiap akun yang ada.
      %li Memberikan layanan terbaik yang dapat ditawarkan oleh situs.
      %li Menyesuaikan pengalaman Anda saat Anda menggunakan situs.
      %li Mendapatkan umpan balik dari data penggunaan Anda, demi meningkatkan pelayanan kami kepada Anda.
      %li Menegakkan Syarat dan Ketentuan
      %li Apabila diperlukan, menyelesaikan sengketa atau pengaduan oleh Anda atau pihak ketiga.
      %li Untuk tujuan lainnya yang dapat diberitahukan kepada Anda pada saat akan dilaksanakan.
    %p Kami juga menggunakan data pribadi Anda untuk keperluan yang spesifik seperti:
    %ol
      %li Menggunakan alamat email Anda sebagai sarana utama untuk mengontak Anda, serta memberitahukan perubahan-perubahan terbaru yang terjadi di dalam Kontes Terbuka Olimpiade Matematika.
      %li Menggunakan nama Anda dalam pembuatan sertifikat untuk Anda.
      %li Menggunakan nama sekolah Anda untuk keperluan lebih lanjut dalam usaha kami memberikan sumber daya pengajaran olimpiade matematika secara merata ke berbagai sekolah dan daerah di Indonesia.
    %p Kami juga dapat menggunakan data pribadi Anda dan informasi lainnya untuk keperluan pemasaran melalui media sosial.

    %li Menghubungi Anda
    %p Kami dapat menggunakan data kontak pribadi Anda untuk menghubungi Anda untuk keperluan tertentu. Kami juga dapat mengontak Anda untuk meminta umpan balik terhadap layanan yang kami berikan, dengan tujuan meningkatkan kualitas situs dan layanan Kontes Terbuka Olimpiade Matematika.

    %li Berbagi Informasi Pribadi ke Pihak-Pihak Ketiga
    %p Kontes Terbuka Olimpiade Matematika tidak akan menjual data pribadi Anda kepada pihak ketiga.
    %p Kontes Terbuka Olimpiade Matematika menggunakan <em>Google Analytics</em>, sebuah sistem analisis oleh <em>Google</em>. <em>Google</em> mengumpulkan <em>cookie</em> dan data penggunaan (termasuk fitur User-ID) untuk meninjau penggunaan website ini. Anda bisa melihat kebijakan privasi <em>Google</em> di <a href="http://www.google.com/intl/en/policies/privacy/">sini</a>. Anda juga bisa keluar dari <em>Google Analytics</em> dengan memasang perangkat yang bisa diunduh di <a href="https://tools.google.com/dlpage/gaoptout/">sini</a>.
    %p Dalam beberapa kasus, Kontes Terbuka Olimpiade Matematika mungkin perlu memberikan data pribadi Anda kepada pihak ketiga yang memang sudah tepercaya. Mengenai pemberian data pribadi kepada pihak ketiga, Kontes Terbuka Olimpiade Matematika akan meminta persetujuan dari Anda terlebih dahulu. Perlu diperhatikan bahwa dalam keadaan yang mendesak, Kontes Terbuka Olimpiade Matematika dapat membagikan data pribadi Anda selama penggunaannya dianggap tidak akan memberikan kerugian terhadap Anda dan memberikan notifikasi kepada Anda setelahnya.

    %li Persetujuan
    %p Dengan menjelajahi dan menggunakan situs dan layanan dari Kontes Terbuka Olimpiade Matematika, Anda setuju dengan Kebijakan Privasi yang tertera di halaman ini. Anda perlu menyatakan persetujuan Anda terhadap Kebijakan Privasi ini saat Anda mendaftarkan akun pada situs ini.

    %li Penarikan Persetujuan
    %p Kontes Terbuka Olimpiade Matematika memberikan kemampuan kepada Anda untuk menarik kembali persetujuan Anda terhadap Kebijakan Privasi Ini. Jika Anda menarik persetujuan Anda, kami akan berhenti mengumpulkan, menggunakan dan mengolah data pribadi Anda yang berkaitan dengan Anda. Untuk menarik persetujuan Anda, harap menghubungi kami melalui kontak yang kami berikan. Perlu diperhatikan bahwa penarikan persetujuan Anda dapat menyebabkan kegagalan kami untuk terus memberikan layanan kami kepada Anda, dan kami tidak bertanggung jawab terhadap segala kerugian atau kerusakan yang terjadi akibat penghentian layanan kami terhadap Anda.

    %li Kebijakan <em>Cookie</em>
    %p <em>Cookie</em> adalah berkas data kecil yang ditempatkan di peramban Anda atau penyimpanan komputer atau perangkat Anda. <em>Cookie</em> membantu peramban Anda dalam memberikan layanan yang lebih ramah pengguna saat mengakses situs Kontes Terbuka Olimpiade Matematika. <em>Cookie</em> itu sendiri tidak mengumpulkan informasi apa pun yang tersimpan di komputer atau perangkat Anda.

    %li Perubahan Data Pribadi Anda
    %p Anda berkomitmen untuk selalu memberikan data yang benar, akurat, terkini, dan lengkap serta melakukan perubahan yang diperlukan terhadap data pribadi Anda demi memenuhi aturan ini. Untuk melindungi privasi dan kemananan Anda, Kontes Terbuka Olimpiade Matematika dapat melakukan verifikasi terhadap identitas Anda sebelum memberikan akses untuk melakukan perubahan data pribadi Anda.

    %li Melindungi Data Pribadi Anda
    %p Kontes Terbuka Olimpiade Matematika berkomitmen untuk melindungi data pribadi Anda dengan peraturan keamanan yang wajar, baik teknis maupun organisasional, untuk mencegah akses, pengumpulan, penggunaan dan pengolah data pribadi Anda oleh pihak-pihak yang tidak berwenang, serta mencegah kemungkinan hilangnya data Anda.
    %p Kontes Terbuka Olimpiade Matematika akan menyimpan data pribadi Anda di [server tepercaya]. Informasi-informasi sensitif seperti kata sandi atau informasi yang terkait dengan transaksi elektronik akan dienkripsi terlebih dahulu sebelum disimpan.

    %li Tautan ke Situs Web Lain
    %p Situs Kontes Terbuka Olimpiade Matematika mengandung tautan ke website lainnya.

    %li Pendaftaran dan Keanggotaan
    %p Dengan memberikan data pribadi Anda, mendaftakan diri dan membuat akun di situs Kontes Terbuka Olimpiade Matematika, Anda menjamin bahwa:
    %ol
      %li Anda berusia setidaknya 11 tahun.
      %li Informasi yang Anda berikan adalah benar, akurat, terkini dan lengkap.
      %li Anda akan terus memperbarui data pribadi Anda agar selalu benar, akurat, terkini dan lengkap.
    %p Anda bertanggung jawab untuk menjaga kerahasian kata sandi Anda. Anda setuju untuk tidak membagikan kata sandi Anda ke pihak lainnya dan akan menggunakan kata sandi Anda untuk keperluan sendiri. Kontes Terbuka Olimpiade Matematika tidak akan bertanggung jawab atas kerusakan atau kerugian yang diderita oleh kami, Anda atau pihak ketiga yang diakibatkan oleh kegagalan Anda dalam memenuhi ketentuan ini.

    %li Pengalihan Kepemilikan
    %p Apabila terjadi perubahan kepemilikan atas semua atau sebagian dari Kontes Terbuka Olimpiade Matematika, maka data pribadi Anda dapat menjadi bagian dari pengalihan aset tersebut.

    %li Persetujuan Perubahan Kebijakan Privasi
    %p Dengan menggunakan situs atau layanan kami sediakan, Anda setuju bahwa Kontes Terbuka Olimpiade Matematika dapat mengumpulkan, menggunakan dan mengolah data pribadi Anda sebagaimana dinyatakan dalam kebijakan privasi ini.

    %li Disclaimer
    %p Kebijakan Privasi ini disusun semata-mata agar sesuai dengan hukum Indonesia. Kami tidak menjamin bahwa Kebijakan Privasi ini mematuhi undang-undang privasi dari setiap yurisdiksi. Perubahan kedepannya dapat terjadi agar Kebijakan Privasi ini dapat menyesuaikan seiring dengan berkembangnya penggunaan situs dan layanan Kontes Olimpiade Matematika ke yurisdiksi lainnya.

    %li Perubahan Kebijakan Privasi
    %p Kontes Terbuka Olimpiade Matematika dapat sewaktu-waktu merubah kebijakan privasi ini, atas kebijakan kami, dengan menayangkan versi terbaru di halaman website ini. Perubahan tersebut akan berlaku secepatnya sejak perubahan tersebut dirilis. Anda kami sarankan untuk selalu mengunjungi halaman ini secara rutin agar Anda familiar dengan setiap perubahan yang terjadi.

    %li Hubungi Kami
    %p Jika Anda memiliki pertanyaan dan permintaan apa pun yang berkaitan dengan Kebijakan Privasi ini, #{link_to 'harap hubungi kami.', contact_path}
    %p Efektif per 15 Juli 2015
    %p 1.0.0.rec1
