- if current_user.nil?
  - content_for :page_attributes do
    nav-logo-only

.container
  %h1 Syarat dan Ketentuan
  Berikut ini adalah syarat dan ketentuan persetujuan antara pengguna dan Kontes Terbuka Olimpiade Matematika.
  %ol
    %li Registrasi diperlukan untuk mengakses sebagian besar konten Kontes Terbuka Olimpiade Matematika. Pengguna diwajibkan untuk memberikan semua informasi dengan akurat. Kontes Terbuka Olimpiade Matematika boleh mengubah ataupun menghentikan konten ke pengguna secara sepihak bila Kontes Terbuka Olimpiade Matematika menyatakan bahwa informasi yang diberikan tidak akurat ataupun tidak lengkap.
    %li #{link_to 'Kebijakan privasi', privacy_path} juga merupakan bagian penting dari dokumen ini yang harus ditaati.
    %li Di dalam kontes-kontes Kontes Terbuka Olimpiade Matematika, bisa terdapat peraturan yang perlu dibaca dengan seksama dan ditaati. Kontes Terbuka Olimpiade Matematika boleh mengubah ataupun menghentikan konten ke pengguna secara sepihak bila Kontes Terbuka Olimpiade Matematika menyatakan bahwa pengguna melanggar satu atau lebih peraturan yang ditulis di aturan kontes tersebut.
    %li Kontes Terbuka Olimpiade Matematika boleh membatasi penggunaan konten, termasuk, namun tidak terbatas pada lama waktu konten disimpan dan jangka waktu maksimal pengguna boleh mengakses Kontes Terbuka Olimpiade Matematika. Kontes Terbuka Olimpiade Matematika tidak bertanggung jawab atas kegagalan dalam menyimpan pengaturan pengguna maupun profil pengguna. Kontes Terbuka Olimpiade Matematika boleh memberhentikan pengguna yang sudah tidak aktif dalam jangka waktu yang cukup panjang.
  Kontes Terbuka Olimpiade Matematika boleh mengubah ataupun menghentikan konten ke pengguna secara sepihak atas pelanggaran syarat dan ketentuan di atas, maupun untuk alasan lainnya.
