.container
  %h1 Ganti Notifikasi
  - Notification.all.each do |n|
    %p
      = check_box_tag n.id, nil,
        !UserNotification.find_by(notification: n, user: @user).nil?,
        class: 'notifications-checkbox', data: { create: user_user_notifications_path(@user), delete: delete_user_user_notifications_path(@user) }
      %label{ for: n.id }= n
  = link_to 'Kembali', user_path(@user), class: 'btn'
