$red-color: 'Merah' lighten(#e53333, 10);
$blue-color: 'Biru' lighten(#337fff, 10);
$green-color: 'Hijau' lighten(#33b24c, 10);
$yellow-color: 'Kuning' lighten(#ffb200, 10);

$colors: $red-color $blue-color $green-color $yellow-color;
