//= require_self
//= require_tree .
//= require vendors

// 'bootstrap-sprockets' must be imported before 'bootstrap' and 'bootstrap/variables'
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors';

body {
  background: #f3f3ee;
  font-size: 18px;
  font-weight: 100;
  padding-top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300;

  &,
  p {
    line-height: 1.45;
  }
}

h1,
.h1 {
  font-size: 2.5em;
}

h2,
.h2 {
  font-size: 2.0em;
}

h3,
.h3 {
  font-size: 1.5em;
}

h4,
.h4 {
  font-size: 1.3em;
}

h5,
.h5 {
  font-size: 1em;
}

[no-nav] {
  padding-top: 0;

  > .navbar-fixed-top {
    display: none;
  }
}

[nav-logo-only] {
  #top-navbar,
  #top-navbar-container > button {
    display: none !important;
  }

  #top-navbar-container > .container-fluid {
    height: 70px;
  }
}

[no-footer] > .app-footer {
  display: none;
}

.navbar-fixed-top {
  .navbar-brand {
    padding: 10px;
  }

  .navbar-toggle {
    margin: 15px 15px 15px 0;
  }

  .navbar-nav li a {
    line-height: 2em;
  }
}

@each $name, $color in $colors {
  .btn.has-shade[data-shade="#{$name}"] {
    background-color: lighten($color, 5);
    border-color: darken($color, 10);

    &:hover:not([disabled]) {
      background-color: $color;
      border-color: darken($color, 15);
    }

    &:active:not([disabled]) {
      background-color: darken($color, 5);
      border-color: darken($color, 20);
    }
  }
}

.app-footer {
  background: #000;
  margin-top: 20px;
  padding: 0 5% 3%;
  text-align: center;

  .list-inline {
    padding-top: 2em;

    a {
      color: #fff;
      display: inline-block;
      margin: 0 10px 10px;
      text-decoration: none;

      &:hover {
        color: #999;
      }
    }
  }

  .footer-text {
    color: #fff;
  }
}

@each $name, $color in $colors {
  .app-footer, .navbar-nav {
    a:hover {
      &.has-shade[data-shade="#{$name}"] {
        color: $color
      }
    }
  }
}

label {
  font-weight: 100;
}

textarea {
  resize: vertical;
}

.clickable-row {
  cursor: pointer;
}

#flash {
  background: rgba(255, 255, 255, 0.92);
  border: 1px solid #000;
  border-radius: 0.5em;
  left: 0;
  margin: 10px auto;
  max-width: 80%;
  padding: 0.5em;
  position: fixed;
  right: 0;
  z-index: 2;
}

.three-container {
  display: flex;
  margin-bottom: 0.5em;

  div {
    flex: 1;

    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(2) {
      text-align: center;
    }

    &:nth-child(3) {
      text-align: right;
    }
  }
}

.veteran {
  color: #494;
}

.disabled {
  color: #00f;
}


#soal-container-4xx {
  bottom: 3em;
  left: 3em;
  margin: 0 auto;
  position: absolute;
  right: 3em;
}


#img-5xx {
  display: inline-block;
}

// scss-lint:disable PlaceholderInExtend
.table {
  @extend table;
  display: table;
}

.thead {
  @extend thead;
  display: table-header-group;
}

.tr {
  @extend tr;
  display: table-row;
}

.td {
  @extend td;
  display: table-cell;
}

.th {
  @extend th;
  display: table-cell;
  font-weight: 300;
}

th {
  font-weight: 300;
}

.tbody {
  @extend tbody;
  display: table-row-group;
}

.caption {
  @extend caption;
  display: table-caption;
}
