/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";

body {
  font-family: 'Titillium Web', sans-serif;
  background: #f3f3ee;
  padding-top: 90px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
}

body.not-logged {
  padding-top: 0;
}

.navbar-fixed-top {

  .navbar-brand {
    padding: 10px;
  }

  .navbar-toggle {
    margin: 15px 15px 15px 0;
  }

  .navbar-nav li {
    font-size: 18px;

    a {
      line-height: 40px;
    }
  }

}

footer#other-links {
  background: #000;
  text-align: center;
  padding: 0 5% 5% 5%;
  font-size: 18px;

  a {
    display: inline-block;
    margin: 30px 10px 10px 10px;
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: #999;
    &.has-shade.yellow-color {
      color: $yellow-color;
    }

    &.has-shade.red-color {
      color: $red-color;
    }

    &.has-shade.blue-color {
      color: $blue-color;
    }

    &.has-shade.green-color {
      color: $green-color;
    }
  }

  .copyright {
    color: #fff;
    display: inline-block;
  }
}
