$emas: lighten(#ffd700, 20);
$perak: lighten(#c0c0c0, 10);
$perunggu: lighten(#cd7f32, 25);

.emas {
  background-color: $emas;

  &:hover {
    background-color: lighten($emas, 10) !important;
  }
}


.perak {
  background-color: $perak;

  &:hover {
    background-color: lighten($perak, 5) !important;
  }
}


.perunggu {
  background-color: $perunggu;

  &:hover {
    background-color: lighten($perunggu, 10) !important;
  }
}
