$emas: #ffe766;
$perak: #dadada;
$perunggu: #e6bf99;

.emas {
  background-color: $emas;

  &:hover {
    background-color: lighten($emas, 10) !important;
  }
}

.perak {
  background-color: $perak;

  &:hover {
    background-color: lighten($perak, 5) !important;
  }
}

.perunggu {
  background-color: $perunggu;

  &:hover {
    background-color: lighten($perunggu, 10) !important;
  }
}
