$emas: lighten(gold, 20);
$perak: lighten(silver, 10);
$perunggu: lighten(brown, 35);

.emas {
  background-color: $emas;
  &:hover {
    background-color: lighten($emas, 10) !important;
  }
}
.perak {
  background-color: $perak;
  &:hover {
    background-color: lighten($perak, 5) !important;
  }
}
.perunggu {
  background-color: $perunggu;
  &:hover {
    background-color: lighten($perunggu, 10) !important;
  }
}
