// Place all the styles related to the contests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

#calendar-nav {
  display: flex;

  div {
    flex: 1;

    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(2) {
      text-align: center;
    }

    &:nth-child(3) {
      text-align: right;
    }
  }
  
  margin-bottom: 10px;
}

.month-calendar {
  font-size: 14px;
  caption, th, td {
    text-align: center;
  }

  caption {
    padding-top: 0;
  }

  .today {
    font-weight: 600;
    border: double #000 1px;
  }

  .has-contest {
    background: #fff;
  }
}

.month-calendar.has-shade {
  
  &[data-shade=red] .has-contest {
    background: lighten($red-color, 20);
  }

  &[data-shade=blue] .has-contest {
    background: lighten($blue-color, 20);
  }

  &[data-shade=green] .has-contest {
    background: lighten($green-color, 20);
  }

  &[data-shade=yellow] .has-contest {
    background: lighten($yellow-color, 20);
  }
}

#all-contests-container ~ .popover {
  font-family: 'Titillium Web', sans-serif;

  .popover-title {
     background: #f3f3ee; 
  }

  .popover-content {
    background: #fff;
  }
}
