@import "colors";

#calendar-nav {
  display: flex;

  div {
    flex: 1;

    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(2) {
      text-align: center;
    }

    &:nth-child(3) {
      text-align: right;
    }
  }

  margin-bottom: 10px;
}

.month-calendar {
  display: table;
  font-size: 14px;

  .caption, .th, .td {
    text-align: center;
  }

  .caption {
    padding-top: 0;
  }

  .today {
    font-weight: 600;
    border: double #000 1px !important;
  }

  .has-contest {
    background: #fff;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@each $name, $color in $colors {
  .month-calendar.has-shade[data-shade="#{$name}"] .has-contest {
    background: lighten($color, 20);
  }
}

#all-contests-container ~ .popover {
  font-family: 'Titillium Web', sans-serif;

  .popover-title {
     background: #f3f3ee;
  }

  .popover-content {
    background: #fff;
  }
}

#download > a {
  color: inherit;
  text-decoration: none;
}

.btn-center-container {
  text-align: center;
}

.answer-input, .feedback-label, .feedback-input {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
