@import "colors";

.home-article {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 20px;
  background: #fff;
}

.home-article {
  margin-top: 20px;

  h1, h2, h3 {
    margin-top: 0;
  }
}

#btn-daftar {
  white-space: normal !important;
  word-wrap: break-word;
}

#home-middle-container {
  @media(min-width: 992px) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    > div {
      flex: 1;
    }
  }

  > div > article {
    height: calc(100% - 40px);
    text-align: center;
  }
}

#img-buku-ktom {
  margin-bottom: 10px;
}

#fb-box {
  border: 0;
  text-align: center;
  padding: 0;
}

#leaderboard > .table-responsive, #leaderboard-table {
  margin: 0;
}

@each $name, $color in $colors {
  #leaderboard-table.has-shade[data-shade="#{$name}"] tbody tr:hover {
    background: ligthen($color, 20);
  }
}
