// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.home-article {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 20px;
}

.home-article {
  margin-top: 20px; 

  h1, h2, h3 {
    margin-top: 0;
  }
}

#btn-daftar {
  white-space: normal !important;
  word-wrap: break-word;
}

#home-section-container {
  @media(min-width: 768px) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    & > div {
      flex: 1;
    }
  }

  & > div {

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    & > article {
      flex: 1;
    }
  }
}

#prev-contests, #promo-buku {
  text-align: center;
}

#img-buku-ktom {
  margin-bottom: 10px;
}

#fb-box {
  border: 0;
  text-align: center;
  padding: 0;
}

#leaderboard > .table-responsive, #leaderboard-table {
  margin: 0;
}

table.has-shade {
  &.red-color tbody tr:hover {
    background: lighten($red-color, 20);
  }

  &.blue-color tbody tr:hover {
    background: lighten($blue-color, 20);
  }

  &.green-color tbody tr:hover {
    background: lighten($green-color, 20);
  }

  &.yellow-color tbody tr:hover {
    background: lighten($yellow-color, 20);
  }
}
