$prefixes: '-webkit-' '-ms-' '-o-' '';

@mixin rotate() {
  @each $p in $prefixes {
    0% {
      #{$p}transform: rotate(0);
    }

    100% {
      #{$p}transform: rotate(360deg);
    }
  }
}

.form-glyphicon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.loading {
  border: 3px solid #000;
  border-radius: 100%;
  border-top-color: transparent;
  height: 20px;
  width: 20px;

  @each $p in $prefixes {
    #{$p}animation: circle infinite 0.75s linear;
  }
}

@keyframes circle {
  @include rotate();
}
