#buku-buku {
  margin: 10px 0;
  text-align: center;
}

.book-col {
  display: block;
}

.book-container {
  padding: 0.5em;
  border: 1px solid #000;
  border-radius: 1em;
}

.img-buku-ktom {
  margin-bottom: 0.5em;
  max-width: 10em;
}

#daftar-panitia {
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  img {
    border-radius: 50%;
    margin: 25px auto 0;
    max-height: 150px;
    max-width: 150px;
  }
}

.about-us-person {
  border-radius: 1.5em 1.5em 0 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #fff;
  }
}

.active-about-us {
  background-color: #fff;
}

.about-us-description {
  background-color: #fff;
  border-radius: 0 0 1.5em 1.5em;
  padding: 1em;
}
