#buku-buku {
  text-align: center;
  margin: 10px 0;

  > a {
    padding: 10px 0;
    border: 1px solid #000;
    border-radius: 10px;
  }
}

#daftar-panitia {
  img {
    margin-top: 25px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
  }

  text-align: center;
}

.about-us-person {
  border-radius: 1.5em 1.5em 0 0;
  transition: background-color 0.2s ease;
  cursor: pointer;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
}

.active-about-us {
  background-color: #fff;
}

.about-us-description {
  background-color: #fff;
  border-radius: 0 0 1.5em 1.5em;
  padding: 0.5em 0;
}
