@import 'colors';

@each $name, $color in $colors {
  .pagination.has-shade[data-shade="#{$name}"] {
    display: block;
    margin: 0.5em 0;
    text-align: right;

    > * {
      border: 1px solid $color;
      border-radius: 0.2em;
      color: inherit;
      display: inline-block;
      height: 2em;
      line-height: 2em;
      margin: 0 0.2em;
      text-align: center;
      width: 2em;
    }

    // scss-lint:disable SelectorFormat
    .previous_page,
    .next_page {
      display: none;
    }

    .gap {
      border: 0;
      margin: 0 -0.3em;
    }

    .current {
      border: 0;
      font-style: inherit;
      font-weight: 300;
    }

    .disabled {
      background-color: lighten($color, 40);
      border-color: lighten($color, 25);
    }

    > :not(.disabled):not(.current):not(.gap) {
      background-color: lighten($color, 15);

      &:hover {
        background-color: lighten($color, 10);
        border-color: darken($color, 5);
        text-decoration: none;
      }

      &:focus {
        background-color: lighten($color, 5);
        border-color: darken($color, 10);
        text-decoration: none;
      }
    }
  }
}

#users-search {
  margin: 0;
  padding: 0.5em 15px;

  .glyphicon {
    cursor: pointer;
    pointer-events: auto;
    right: 0.7em;
    top: 0.5em;
  }
}
