.left-footer {
  text-align: left;

  @media (min-width: 600px) {
    float: left;
    margin-left: 10px;

    .checkbox {
      margin: 0;
    }
  }

  @media (max-width: 599px) {
    margin-bottom: 10px;
  }

  p {
    margin: 0;
  }
}

.form-control-feedback.glyphicon-eye-open {
  color: #333;
  cursor: pointer;
  pointer-events: auto;
}

.sign-grid {
  background: #fff;
  border: 1px solid;
  border-radius: 10px;
  left: 0;
  margin: 2% auto 0;
  padding: 25px;
  position: absolute;
  right: 0;
  text-align: center;

  header {
    margin-bottom: 10px;

    @media (max-width: 450px) {
      .sign-logo img {
        height: 80%;
        width: 80%;
      }
    }

    @media (min-width: 600px) {

      .sign-logo {
        float: left;
      }

      .sign-text {
        float: right;

        h1 {
          margin: 0;
        }
      }
    }
  }

  .separator {
    margin-bottom: 30px;
  }

  footer {
    .g-recaptcha div div {
      margin: 0 auto 10px;
    }

    @media (min-width: 600px) {
      .sign-btn {
        float: right;
      }

      .g-recaptcha {
        float: left;

        div div {
          margin: 0;
        }
      }
    }
  }

  .help-block {
    background: #f3f3ee;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: left;

    ul {
      margin: 0;
    }
  }
}

#forgot-help {
  margin: 10px 0;
}

#recaptcha-error {
  float: left;
}

.show-recaptcha-error {
  border: 1px solid #a94442;
}

.special-fields-error {
  border: #a94442;
}
