.left-footer {
  text-align: left;
  @media (min-width: 600px) {
    margin-left: 10px;
    float: left;

    .checkbox {
      margin: 0;
    }
  }
  @media (max-width: 599px) {
    margin-bottom: 10px;
  }
  p {
    margin: 0;
  }
}

.form-control-feedback.glyphicon-eye-open {
  color: #333;
  cursor: pointer;
  pointer-events: auto;
}

.sign-grid {
  background: #fff;
  padding: 25px;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 2% auto 0;

  header {
    margin-bottom: 10px;

    @media (max-width: 450px) {
      .sign-logo img {
        width: 80%;
        height: 80%;
      }
    }

    @media (min-width: 600px) {

      .sign-logo {
        float: left;
      }

      .sign-text {
        float: right;

        h1 {
          margin: 0;
        }
      }
    }
  }

  .separator {
    margin-bottom: 30px;
  }

  footer {
    .g-recaptcha div div {
      margin: 0 auto 10px auto;
    }

    //@media (max-width: 480px) {
    //  .g-recaptcha > div > div {
    //    width: inherit !important;
    //    position: relative;
    //    display: block;
    //    overflow: hidden;
    //    max-width: 302px;
    //    border-right: 1px solid #d3d3d3;
    //    border-radius: 4px;
    //    -webkit-box-shadow: 2px 0 4px -1px rgba(0,0,0,.08);
    //    -moz-box-shadow: 2px 0 4px -1px rgba(0,0,0,.08);
    //    box-shadow: 2px 0 4px -1px rgba(0,0,0,.08);
    //    padding: 0;
    //  }

    //  .g-recaptcha iframe {
    //    position: absolute;
    //    top: 0;
    //    bottom: 0;
    //    left: 0;
    //    width: 100%;
    //    height: 100%;
    //    border: 0;
    //  }

    //  .g-recaptcha > div {
    //    position: relative;
    //  }

    //  .g-recaptcha > div:before {
    //    position: absolute;
    //    top: 38%;
    //    left: 0;
    //  }

    //  .g-recaptcha:empty:before {
    //    content: 'Something wrong occured';
    //  }
    //}

    @media (min-width: 600px) {
      .sign-btn {
        float: right;
      }

      .g-recaptcha {
        float: left;

        div div {
          margin: 0;
        }
      }
    }
  }

  .help-block {
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f3f3ee;
    padding: 5px 10px;
    margin-top: 10px;

    ul {
      margin: 0;
    }
  }
}

#forgot-help {
  margin: 10px 0;
}

#recaptcha-error {
  float: left;
}

.show-recaptcha-error {
  border: 1px solid #a94442;
}

.special-fields-error {
  border: #a94442;
}
