#profile {
  margin-bottom: 20px;

  p {
    margin: 5px 0;
  }
}

#profile,
#history,
#transactions {
  h2 {
    margin-top: 10px;
  }

  nav {
    text-align: center;

    > .prev-history {
      margin-right: 10px;
    }

    > .next-history {
      margin-left: 10px;
    }
  }
}

.users-index-row:hover {
  background-color: #fff;
}
