@import 'colors';
$bg-overlay: linear-gradient(rgba(255, 255, 255, 0.1),
rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));

html,
body {
  height: 100%;
}

.teaser {
  background: $bg-overlay, image-url('welcome-bg.jpg');
  background-color: #fff;
  background-position: right center;
  background-size: auto 140%;

  min-height: 100%;
  padding: 0 3%;

  text-align: center;

  .welcome-logo {
    padding: 20px 0 0 10px;
    text-align: left;

    @media (max-width: 500px) {
      text-align: center;
    }
  }

  h1 {
    font-size: 3.5em;
    margin: 3% 0;
  }

  #welcome-next-contest {
    margin: 30px 0;
  }
}

.main-section {
  padding: 3%;
}

#features {
  div div {
    display: block;
    text-align: center;
  }

  .glyphicon {
    font-size: 2em;
    padding: 10px 0;

    @each $name, $color in $colors {
      &.has-shade[data-shade="#{$name}"] {
        color: lighten($color, 10);
      }
    }
  }
}

#testimonies {
  background: #fff;

  h1 {
    padding-bottom: 20px;
  }

  blockquote {
    border-color: #ccc;
    margin: 5px 30px;

    @each $name, $color in $colors {
      &.has-shade[data-shade="#{$name}"] {
        border-color: lighten($color, 20);
      }
    }
  }

  blockquote:first-child {
    margin-top: 0;
  }

  blockquote:last-child {
    margin-bottom: 0;
  }
}

#teaser {
  padding-bottom: 1%;
  text-align: center;
}
