<div class="container">
  <h1><%= @long_problem %></h1>
  <a class="btn btn-default has-shade">Download semua submisi</a>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nilai</th>
        <th>Catatan</th>
        <% @markers.each do |m| %>
          <th><%= m.username %></th>
        <% end %>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @long_submissions.each do |s| %>
        <tr>
          <td><%= s.id %></td>
          <td><input></td>
          <td><input></td>
          <% @markers.each do |m| %>
            <td>Sudah</td>
          <% end %>
          <td><a>Download</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <a class="btn btn-default has-shade">Submit</a>
</div>
