<div class="container">
  <h1><%= @long_problem %></h1>
  <a class="btn btn-default has-shade">Download semua submisi</a>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nilai Akhir</th>
        <th>Tag Anda</th>
        <th>Komentar</th>
        <th>Saran</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @long_submissions.each do |s| %>
        <tr>
          <td><%= s.id %></td>
          <td><input></td>
          <td>Catatan</td>
          <td><input></td>
          <td><input></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
