.container
  %h1= @long_problem
  = link_to 'Download semua submisi', download_submissions_path,
    class: 'btn btn-default has-shade'
  %table.table
    %thead
      %tr
        %th ID
        %th Nilai
        %th Catatan
        - @markers.each do |m|
          %th= m.username
        %th

    %tbody
      - @long_submissions.each do |s|
        %tr
          %td= s.user.id
          %td
            %input
          %td
            %input
          - @markers.each do |m|
            %td Sudah
          %td
            %a Download

  %a.btn.btn-default.has-shade Submit
