- content_for :page_attributes do
  nav-logo-only no-footer

.container.text-center
  = image_tag 'maintenance.png', alt: 'Maintenance', class: 'ganti-soal',
                                 height: '200px'
  %h1 Maintenance
  %h3 Kami sedang melakukan beberapa perbaikan. Mohon bersabar!
  %div.random-soal-container
    %h5 Barangkali Anda ingin mencari soal? Ayok latihan dengan soal ini:
    %p.random-soal
    %small.random-soal-sumber
